            @import url("https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css"); /* Using a url */

            header {
            background-color: #c8ab37 !important;
            border-color: #c8ab37 !important;
            }
            
            header li {
                background: linear-gradient(to top, #c19b01 0%, #8d7102 100%) !important;
                box-shadow: inset 0px 1px 1px 0 #e2b603 !important;
            }
            
            
            #overview.hide2 tr > *:nth-child(2) {
            display: none;
            
            }
            #overview.hide3 tr > *:nth-child(3) {
            display: none;
            }
            #overview.hide4 tr > *:nth-child(4) {
            display: none;
            }
            #overview.hide5 tr > *:nth-child(5) {
            display: none;
            }
            #overview.hide6 tr > *:nth-child(6) {
            display: none;
            }
            #overview.hide7 tr > *:nth-child(7) {
            display: none;
            }
            #overview.hide8 tr > *:nth-child(8) {
            display: none;
            }
            #overview.hide9 tr > *:nth-child(9) {
            display: none;
            }
            #overview.hide10 tr > *:nth-child(10) {
            display: none;
            }
            #overview.hide11 tr > *:nth-child(11) {
            display: none;
            }
            #overview.hide12 tr > *:nth-child(12) {
            display: none;
            }
            #overview.hide13 tr > *:nth-child(13) {
            display: none;
            }
            #overview.hide14 tr > *:nth-child(14) {
            display: none;
            }
            #overview.hide15 tr > *:nth-child(15) {
            display: none;
            }
            .grid-container {
             display: grid;
             grid-template-columns: auto auto auto auto auto auto auto;
             padding: 4px;
             grid-gap: 4px;
             
             
            }
            button {
             font-size: 12px;
             float: left;
             cursor: pointer;
             text-align: left;
             padding: 4px;
             
             }
             
             button:hover {
             background-color: silver;
             }
             
             
             button i {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.3s;
             }
             
             
             button i:after {
             content: 'Hide/Show';
             position: absolute;
             opacity: 0;
             top: 0;
             right: 20px;
             transition: 0.3s;
             }

             button:hover i {
             padding-right: 75px;
             }
             

            button:hover i:after {
              opacity: 1;
              right: 0;
            }
            
            table.noStyle {
                table-layout: auto !important;
                width: 210% !important;
                border-style: none !important;
            }
            .noStyle td {
                background-color:transparent !important;
                
            }
            
            dl.grid {
           	display: grid;
           	grid-template-columns: 1fr 100%;
                    }
           
            dd {
           	margin: 0;
           	padding-left: 1em;
                }
           
            dl.grid dd {
           	margin-bottom: 1em;
           }
